.wrapper {
    width: 50%;
    margin: 0 auto;
    background: #797979ab;
  }
  .calc {
    margin: 0 auto;
  }
  .textarea {
    background: #ffffffc4;
  }
  .btn {
    width: 23%;
    height: 50px;
    margin: 1%;
    background: #0d0d0e8a;
  }
  #display{
    width: 100%;
    font-size: 3rem;
    height: 50px;
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
  }
  #AC{
    width: 48%;
    height: 50px;
    margin: 1%;
    background: #797979ab;
  }
  #back{
    width: 48%;
    height: 50px;
    margin: 1%;
    background: #797979ab;
  }